<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin / Manage users</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/manage-users.js"></script>
</head>
<body>
    <h1>Manage users</h1>
    <table id="manage-users">
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>username</th>
            <th>emailaddress</th>
            <th>role</th>
        </tr>
        <tr>
            <td>id</td>
            <td>firstname</td>
            <td>lastname</td>
            <td>username</td>
            <td>emailaddress</td>
            <td>role</td>
        </tr>
    </table>
</body>
</html>